<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qx.mstarstoreapp" >

    <!-- 增加访问网络的权限 -->

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 增加文件存储和访问摄像头的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--扫描二维码-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />



    <application
        android:name=".base.BaseApplication"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--android:launchMode="singleTask"-->
        <activity android:name=".activity.OrderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.UpdatePassWordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.CustomMadeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <!--弹出软键盘不会顶起底部-->
        <activity android:name=".activity.ConfirmOrderActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.CustommadeInformationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.EndProducActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.SelectCityActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.AddAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.ModifyDataActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.AddressListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity android:name=".activity.UpdatePhoneNumber"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <!--弹出软键盘顶起底部-->
        <activity android:name=".activity.StyleInfromationActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            />
        <activity android:name=".activity.ClassifyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />

        <activity android:name=".activity.CustomersListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />
        <activity
            android:name="zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:alwaysRetainTaskState="true"
            />

        <activity android:name=".activity.ShopingAddressActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />

        <activity android:name=".activity.ModeOfPaymentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />

        <activity android:name=".activity.PaySuccessActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />

        <activity android:name=".activity.ProductionListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            />

    </application>

</manifest>